.root {

  :global {
    .content {
      h2 {
        font-size: 16pt;
        color: #323232;
        font-weight: 500;
        margin-bottom: 8px;
      }

      h3 {
        font-size: 12pt;
        color: #323232;
        font-weight: 500;
        margin-bottom: 8px;
      }

      .model_title_row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .model_title {
          vertical-align: middle;
          line-height: 120%;
          font-weight: 600;
          font-size: 20pt;
          color: #444444;
        }
      }

      .model_creator {
        margin-top: 10px;
        font-size: 11pt;
      }

    }

    .input-form {
      .errorMessage {
        color: #ff4d4f;
        margin-top: 10px;
        font-size: 11pt;
      }

      .input-item {
        margin-top: 20px;

      }

      .input-item a {
        display: inline-block;
        margin-top: 10px;
        padding: 8px 15px;
        background-color: #007bff;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
      }

      .input-item a:hover {
        background-color: #0056b3;
      }

      .ant-slider {
        height: 40px;
        display: flex;
        align-items: center;
        margin: 0 auto;
      }

      .ant-slider-handle {
        top: 0px;
        bottom: 0px;
        margin: auto;
      }
    }

    .image-box {
      img {
        height: auto;
      }
    }

    @media screen and (max-width: 600px) {
      .image-box {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .image-wrap {
      display: flex;
      column-gap: 20px;

      .image-box {
        margin-top: 10px;
        width: 300px;
        position: relative;

        img {
          border-radius: 10px;
          width: 100%;
          height: auto;
        }

        .image-notice {
          height: 20px;
          position: absolute;
          right: 20px;
          bottom: 20px;
          cursor: pointer;

          img {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}